*{
    margin: 0 auto;
    padding: 0;

}
h1, h2, p{
    font-family: 'Barlow', sans-serif;
    margin: 0px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}  

.black {
    background-color: #292929;
}

.gray {
    background-color: #E5E5E5;
}
.white{
   background-color: #F2F2F2;
   ; 
}

.logo{
    width: 128px;
    height: 68px;
    margin-top: 40px;
}
.content{
    height: 437px;
    width: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E5E5;
    border: 3px solid #51E678;
    margin-top: 247px;
    margin-bottom: 233px;
}
h2{
  font-size: 42px;  
  color: #292929CC;
  margin-top: 32px;
  font-weight: 700px;
}
h1{
    font-style: normal; 
    font-size: 64px;
    font-weight: 800px;
    color: #292929;
    margin-top: 64px;
}
button{
    width: 412px;
    height: 64px;
    margin-top: 96px;
    background-color: #51E678;
    border: 0px none;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
button:hover{
    background-color:aquamarine;
}
button p{
    font-size: 32px;
    font-weight: 700;
    color: #292929;
}